:export {
  menuText: #ffffff;
  menuActiveText: #409EFF;
  subMenuActiveText: #f4f4f5;
  menuBg: transparent;
  menuHover: #ffffff;
  subMenuBg: #1f2d3d;
  subMenuHover: #001528;
  sideBarWidth: 180px;
}
